@import url(style.css);

[x-cloak] {
    display: none !important;
}

.auth-submenu {
    background-color: var(--dark);
    color: var(--white);
    border-radius: var(--border-radius-menu);
}

.auth-submenu.active {
    background-color: var(--bg-csub);
    color: var(--dark);
    border-radius: var(--border-radius-menu);
}


.sidebarcontent ul.submenu-collpase {
    margin: 2px 0;
}

.sidebarcontent ul.submenu-collpase li {
    width: 90%;
    margin: 1px auto;
}

.chosen-container {
    width: 100% !important;
}

.chosen-container-single .chosen-single {
    border-radius: 0.357rem !important;
    font-size: 14px;
    border-color: #CACACA !important;
    font-weight: 100;
    background: transparent !important;
    box-shadow: none !important;
    height: 38px;
}

.chosen-container-single .chosen-single span {
    color: var(--dark) !important;
    font-weight: 400;
    height: inherit;
    display: flex;
    align-items: center;
}

.chosen-container-single .chosen-single div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chosen-container-single .chosen-single div b {
    height: 25px;
}

.btn-status {
    font-size: 8px;
    padding: 1px 5px;
    line-height: 1.5;
    max-width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    background-color: transparent;
    border-bottom-width: 0 !important;
    box-shadow: none !important;
}

table tr tbody td {
    background-color: var(--bg-csub) !important;
}

.spinner-border {
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-left: 2px solid;
    height: 20px;
    width: 20px;
    color: var(--textdark) !important;
}

.tbfilter {
    transition: all 0.5s ease-in-out;
}

.tbfilter.hide {
    opacity: 0;
    transform: translateY(110vh);
    z-index: 1;
}

.tbfilter.show {
    opacity: 1;
    transform: translateY(0);
}

.btn-action {
    padding: 2px 10px;
    font-size: 11px !important;
    line-height: 1.5;
    border-radius: 4px !important;
    border: none;
    /* No border */
    cursor: pointer;
    /* Pointer on hover */
    transition: background-color 0.3s, transform 0.2s;
    /* Smooth transition for hover effects */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Subtle shadow for depth */
}

.close-btn,
.submit-btn {
    line-height: 1.5;
}

.required-label::after {
    content: '*';
    color: red;
    margin-right: 3px;
    /* Adjust as needed */
}

.nav-tabs .nav-link.active {
    background-color: var(--primary) !important;
    color: white !important;
}

/* Accordion Container */
.accordion {
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: none !important;
}

.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: var(--bs-body-bg);
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23052c65' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
    --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
}

.accordion:focus {
    box-shadow: none !important;
}

/* Accordion Item */
.accordion-item {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}

/* Accordion Header */
.accordion-button {
    background-color: #f8f9fa;
    color: #343a40;
    border: none;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    margin-bottom: 1px;
    /* spacing between accordion items */
}

/* Accordion Header Active State */
.accordion-button:not(.collapsed) {
    background-color: #e9ecef;
    color: #495057;
}

/* Accordion Body */
.accordion-collapse {
    border: 1px solid #dee2e6;
    border-top: none;
    padding: 1rem;
    transition: height 0.3s ease;
}

.note-editing-area {
    background-color: white;
}

.page-link {
    border-radius: 0 !important;
}

.modal .btn-close {
    background-color: #fff;
    border-radius: 0.5rem;
    opacity: 1;
    padding: 0.635rem;
    box-shadow: 0 0.125rem 0.25rem rgba(161, 172, 184, 0.4);
    transition: all 0.23s ease 0.1s;
    transform: translate(23px, -25px);
}


.btn-success,
.btn-danger,
.btn-warning,
.btn-primary,
.btn {
    box-shadow: 0 0.125rem 0.25rem rgba(161, 172, 184, 0.4) !important;
    transition: all 0.23s ease 0.1s !important;
    transform: translate(23px, -25px) !important;
    transform: translateY(-1px) !important;
}


.btn-action:hover,
.btn-success:hover,
.btn-danger:hover,
.btn-warning,
.btn-primary:hover,
.btn:hover {
    transform: translateY(-1px);
    opacity: 0.9;
}

.btn-action:active {
    transform: translateY(1px);
}

.icon-border i {
    font-size: 18px !important;
    margin-top: 6px !important;
}

.employee-batch {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
}

input[type="checkbox"] {
    border-radius: 0.2rem !important;
    font-size: 14px !important;
    background-image: var(--bs-form-check-bg-image);
}

.form-check-input:checked {
    color: white !important;
    background-color: #0d6efd !important;

}

.rounded-circle,
.circle {
    border-radius: 50% !important;
}

.arrow-icon-table,
.my-path {
    stroke: var(--primary) !important;
}

.list-group li {
    border-color: var(--primary);
}

option {
    color: black !important;
}

.note-editable {
    background-color: var(--bg-csub)!important;
}
.note-editor {
    overflow-x: hidden;
    box-shadow: 0 0 5px var(--shadow);
    border-radius: var(--card-raduis);
    border-color: var(--textdark) !important;
}

.badge{
    font-size: 12px;
}
.mbb-0{
    margin-bottom: 0 !important;
}
#previewImageUploader{
    z-index: 1056;
}
.modal-backdrop.preview-backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Darker backdrop */
    z-index: 1055; 
}
.note-editable{
    font-size:16px!important;
}
     b, strong {
  font-weight: bold;
}
.note-editable {
    background-color: var(--bg-csub)!important;
   color: var(--bs-body-color);
}
.note-toolbar {
    background-color: var(--bg-dark);
}
/* Customize scrollbar width and color */
.overflow-auto {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: var(--primary) transparent; /* For Firefox */
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary); 
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: transparent; 
    display:none!important;
}

